@model TraahvIndividual.Models.Traahv

@{
    ViewBag.Title = "DeleteTraahv";
}

<div style="color: white; background: rgba(40, 77, 124, 0.7); border-radius: 20px; padding: 20px;">
    <h4>Traahvi kustutamine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoidukeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoidukeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OmanikuNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OmanikuNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OmanikuEpost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OmanikuEpost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rikkumisekuupaev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rikkumisekuupaev)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KiiruseUletamine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KiiruseUletamine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrahviSuurus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrahviSuurus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" style="color: white; background-color: #2D287C; border: solid #2D287C 1px; margin-top: 10px;"/> |
            <a href="~/Home/Traahv" class="btn btn-primary btn-md" style="background-color: #2D287C; border: solid #2D287C 1px; margin-top: 10px;">Back to List</a>
        </div>
    }
</div>
