@model TraahvIndividual.Models.RegisterViewModel
@{
    ViewBag.Title = ViewBag.Language == "ru" ? "Регистрация" : ViewBag.Language == "eng" ? "Register" : "Registreerimine";
}

<main aria-labelledby="title" style="color: white; background: rgba(40, 77, 124, 0.7); border-radius: 20px; padding: 20px;">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>
            @if (ViewBag.Language == "ru")
            {
                @:Создайте новую учетную запись.
            }
            else if (ViewBag.Language == "eng")
            {
                @:Create a new account.
            }
            else
            {
                @:Loo uus konto.
            }
        </h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row" style="margin-bottom: 10px;">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row"style="margin-bottom: 10px;">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="@(
                    ViewBag.Language == "ru" ? "Зарегистрироваться" :
                    ViewBag.Language == "eng" ? "Register" : "Registreeri"
                )" class="btn btn-outline-dark" style="color: white; background-color: #0d6efd; border: solid #0d6efd 1px; margin-top: 10px; " />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    function setLanguage(lang) {
        var currentUrl = window.location.href.split('?')[0];
        var newUrl = currentUrl + (currentUrl.indexOf('?') === -1 ? '?' : '&') + 'lang=' + lang;
        window.location.href = newUrl;
    }
</script>